# This workflow is provided via the organization template repository
#
# https://github.com/nextcloud/.github
# https://docs.github.com/en/actions/learn-github-actions/sharing-workflows-with-your-organization

name: Static analysis

on:
  pull_request:
  push:
    branches:
      - master
      - main
      - stable*

concurrency:
  group: psalm-${{ github.head_ref || github.run_id }}

jobs:
  static-analysis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        php-versions: ['8.0', '8.1']
        server-versions: ['v27.x.x']
        include:
          - php-versions: '8.2'
            server-versions: 'v28.x.x'
          - php-versions: '8.3'
            server-versions: 'dev-master'

    name: Nextcloud
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2

      - name: Set up php
        uses: shivammathur/setup-php@c5fc0d8281aba02c7fda07d3a70cc5371548067d # v2
        with:
          php-version: ${{ matrix.php-versions }}
          coverage: none
          ini-file: development
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install dependencies
        run: |
          composer require --dev nextcloud/ocp:${{ matrix.server-versions }} --with-all-dependencies
          composer require --dev guzzlehttp/guzzle:^7.5.1 --no-update
          composer install

      - name: Run coding standards check
        run: composer run psalm
